@import "~lib/variables.css";

.dashboard {
	position: relative;
}

.count {
	font-size: calc(var(--grid-size) * 3.5);
}

.size {
	margin-bottom: calc(var(--grid-size) * 3.25);
}

.error {
	color: var(--error);
	position: absolute;
	right: 0;
	top: calc(var(--grid-size) * 7.5);
}
